<html>
	<div>
	<h1>Mainichi no Monogatari</h1>
	</div>

   {% for post in posts %}
   <div>
	   <p>published:{{post.published_date}}</p>
	   <h1><a href="">{{post.title}}</a></h1>
	   <p>{{post.text|linebreaks}}</p>
   </div>
   {% endfor%}

</html>
